@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --white: #ffffff;
  --white2: #cccccc;
  --link-form: #4f46e5;
  --black: black;
  --left-lin-gradient: linear-gradient(
      to bottom left,
      #0000001f 0%,
      #0000002f 25%,
      #0000003f 50%,
      #0000005f 100%
    ),
    url("../../../images-ecormmrece/gallery-2.jpg");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  display: flex;
  width: 100%;

  height: 100vh;
  background: var(--white);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.left-sec {
  flex: 1;
  color: var(--white);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--left-lin-gradient);
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  font-size: 24px;
  font-weight: 700;
}

.logo a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
.logot {
  text-transform: uppercase;
  margin: 0em 5em;
}
.logo span {
  color: rgba(240, 248, 255, 0.507);
}

.promo h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.promo p {
  font-size: 16px;
  color: var(--white2);
}

.right-sec {
  flex: 1;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-form {
  width: 100%;
  max-width: 380px;
}

.signup-form h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.signup-form p {
  margin-bottom: 20px;
}

.signup-form a {
  color: var(--link-form);
  text-decoration: none;
}

.input-group {
  display: flex;
  gap: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid var(--white2);
  border-radius: 6px;
  font-size: 14px;
}

.checkbox {
  align-items: center;
  font-size: 13px;
  margin-bottom: 1em;
  display: inline-flex;
}

.primary-btn {
  width: 100%;
  background-color: var(--link-form);
  color: var(--white);
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

.google-btn,
.apple-btn {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--white2);
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  font-weight: 600;
  cursor: pointer;
  background-color: var(--white);
  margin-bottom: 10px;
}

.google-btn img,
.apple-btn img {
  width: 20px;
}

.forgot-password {
  display: inline;
  float: right;
  margin-bottom: 1em;
}

.back-btn {
  width: 100%;
  border: 1px solid var(--white2);
  display: inline;
  float: left;
  text-align: center;
  height: 3em;
  border-radius: 6px;
  padding: 1em;
}
