:root {
  --bg-color: rgb(32, 30, 30);
  --test-color: rgb(0, 255, 255);
  --head1: rgb(255, 255, 255);
  --head-bg: rgb(194, 53, 68);
  --h5: rgb(168, 180, 5);
}

img {
  width: 100%;
}
* {
  /* background-image: url(./images/deadpool-3-3840x2160-14002.jpg); */
  background-size: auto;
  background: var(--bg-color);
  font-family: "Courier New", Courier, monospace;
  color: var(--test-color);
}
.head1 {
  color: var(--head1);
  background-color: var(--head-bg);
}
#id2 {
  color: var(--head-bg);
  background-color: var(--test-color);
  font-size: 1.5em;
}
h5 {
  font-style: italic;
  color: var(--h5);
}
